.App {	.App {
  text-align: center;	  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}	}


.App-logo {	.container {
  height: 40vmin;	  width: 80%;
  pointer-events: none;	  height: 80%;
  background-color: #fff;
  box-shadow: 0px 10px 60px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}	}

.logo {
@media (prefers-reduced-motion: no-preference) {	  height: 45px;
  .App-logo {	  margin-bottom: 30px;
    animation: App-logo-spin infinite 20s linear;	}
.loader {
  position: relative;
  width: 100%;
  height: 1%;
  background-color:#FFCCBC;
}
@keyframes move {
  0% {
    left:0%
  }
  100% {
    left: 100%;
  }	  }
}	}

.loader::before {
.App-header {	  position: absolute;
  background-color: #282c34;	  content: "";
  min-height: 100vh;	  width: 30%;
  height: 100%;
  background-color: #FF3D00;
  animation: move 1s infinite linear;
}
.text-wrapper {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
}
.image-wrapper {
  display: flex;	  display: flex;
  flex-direction: column;	
  align-items: center;	
  justify-content: center;	  justify-content: center;
  font-size: calc(10px + 2vmin);	  align-items: center;
  color: white;	  width: 100%;
  height: 100%;
}	}
.text-wrapper:focus {
  outline: none;
}



.App-link {	/* width */
  color: #61dafb;	::-webkit-scrollbar {
  width: 10px;
}	}


@keyframes App-logo-spin {	/* Track */
  from {	::-webkit-scrollbar-track {
    transform: rotate(0deg);	  background: #f1f1f1;
  }	}
  to {	
    transform: rotate(360deg);	/* Handle */
  }	::-webkit-scrollbar-thumb {
  background: #888;
border-radius: 27px;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-file-input {
  outline: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload Your Image';
  display: inline-block;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  padding: 20px 50px;
  border-radius: 27px;
}
.custom-file-input:hover::before {
  border-color: black;
}	